.portfolio-sidebar-list-wrapper {
  .portfolio-item-thumb {
    padding: 21px;

    .portfolio-thumb-img img {
      width: 100%;
    }

    .text-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 3px;

      .title {
        color: $offwhite;
        font-size: 1.5rem;
      }

      .actions {
        display: grid;
        grid-template-columns: 38px 35px;
        //grid-gap: 10px;

        .action-icon {
          cursor: pointer;
          color: $offwhite;
          font-size: 1.5em;
          transition: 0.5s ease-in-out;
          padding: 2px 7px;
          border-radius: 8px;

          &:hover {
            color: $warning;
            background-color: $offwhite;
          }
        }
      }
    }
  }
}
