.portfolio-sidebar-list-wrapper {
  .portfolio-item-thumb {
    padding: 21px;

    .portfolio-thumb-img img {
      width: 100%;
    }

    .text-content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title {
        color: $offwhite;
        font-size: 1.5rem;
      }

      .delete-icon {
        cursor: pointer;
        color: $offwhite;
        font-size: 1.5em;
        transition: 0.5s ease-in-out;
        padding: 5px;
        border-radius: 8px;

        &:hover {
          color: $warning;
          background-color: $offwhite;
        }
      }


    }
  }
}
